

* {
    font-family: 'Roboto Mono', monospace;
    box-sizing: border-box;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    
}

main {
    text-align: center;
    justify-content: center;
    flex: 1 0 auto;
    margin-left: 15rem;
    margin-right: 15rem;

}

footer {
    text-align: center;
    
}

.questions-page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}



ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-left: 50px;
}


li {
    margin-bottom: 1rem;
}


.button {
    background: limegreen;
    border-radius: 1rem;
    padding: .3rem;
    margin-bottom: .5rem;
    cursor: grab;
}

.button:hover {
    background-color: fuchsia;
}

#view-highscores {
    background: #F28500;
    border-radius: 1rem;
    cursor: grab;
}

#view-highscores:hover {
    background-color: hotpink;
}



.questions-page, .submit-page, .highscores-page, #result-line {
    display: none;
}

/* Media Query */
/* Extra small devices (phones, 600px and down) */
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    body {background: darkgray;}
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    body{background: white;}
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    body {background: darkgray;}
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    body {background: white;}
  }
